{{ ansible_managed | comment }}

{% if item.keys()|length > 0 %}

upstream {{ item.name }} {

    {% if item.zone.name is defined and item.zone.size is defined %}
    zone {{ item.zone.name }} {{ item.zone.size }};
    {% endif %}

    {% for val in item.servers %}

        {%- if val.unix_socket is defined %}
            server {{ val.unix_socket }};
        {%- endif %}

        {%- if val.unix_socket is not defined and val.address is defined -%}
            server {{ val.address }}
            {%- if val.backup is defined and val.backup %} backup {%- endif %}
            {%- if val.down is defined and val.down %} down {%- endif %}
            {%- if val.weight is defined %} weight = {{ val.weight | default("1") }} {%- endif %}
            {%- if val.fail_timeout is defined %} fail_timeout = {{ val.fail_timeout }} {%- endif %}
            {%- if val.health_check is defined and val.health_check %} {{ val.health_check | default("") }} {%- endif %};
        {%- endif %}

    {% endfor +%}
}
{% endif %}
